Source: activity-log-manager
Section: x11
Priority: extra
Maintainer: Mario Guerriero <mefrio.g@gmail.com>
Build-Depends: autoconf,
               automake,
               debhelper (>= 8.0.0),
               intltool,
               libcairo2-dev,
               libgee-dev,
               libgtk-3-dev,
               libpantheon-dev,
               libtool,
               libzeitgeist-dev,
               valac-0.16 | valac
Standards-Version: 3.9.3
Homepage: https://launchpad.net/activity-log-manager

Package: activity-log-manager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: zeitgest manager for switchboard
 Activity Log manager is an advanced zeitgeist for your desktop

Package: activity-log-manager-dbg
Architecture: any
Section: debug
Priority: extra
Depends: activity-log-manager (= ${binary:Version}), ${misc:Depends}
Enhances: activity-log-manager
Description: zeitgest manager for switchboard (debugging symbols)
 Activity Log manager is an advanced zeitgeist for your desktop
 .
 This package contains debugging symbols for activity-log-manager.
