#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_configure:
	sh ./autogen.sh --prefix=/usr

override_dh_strip:
	dh_strip --dbg-package=activity-log-manager-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/activity-log-manager
